.topnav {
	background-color: #c7c7bb;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 20px;
}

.nav-list {
	list-style: none;
	/* padding: 0; */

	/* display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end; */
}

li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
}

a {
  text-decoration: none;
  display: block;
  color: white;
	padding-bottom: 3px;
	padding-top: 3px;
  letter-spacing: 0.1em;
  position: relative;
}

.nav-list a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-list a:hover:after {
  width: 100%;
  left: 0;
}

.topnav span.icon {
  display: none;
}

.closebtn {
	display: none;
}

@media all and (max-width: 735px) {
	.pages {
		display: block;
	  height: 0%;
	  width: 100%;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: rgba(127,134,123, 1);
	  overflow-y: hidden;
	  transition: 0.5s;
	}

	.nav-list{
		display: flex;
		margin-top: 15%;
		align-items: center;
		flex-flow: column wrap;
		justify-content: center;
	}

	.nav-list a{
		vertical-align: middle;
		text-align: center;
		padding: 25px;
	}

	a.closebtn {
		display: block;
	  position: absolute;
	  color: white;
	  top: 20px;
	  right: 45px;
	  font-size: 40px;
	}

  .topnav span.icon {
		cursor: pointer;
		color: white;
    float: right;
		padding: 23px 20px 23px;
    display: block;
  }
}

#logo {
	position: absolute;
	left: 16px;
	padding-right: 10%;
	padding-left: 10px;
}
#logo a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #e3e4e0;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#logo a:hover::after, a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}


body {
  background-color: #e3e4e0;
}

h1{
  font-size: 11vw;
  color: #3b4237;
  line-height: 0.1;
}

h2{
  line-height: 0.1;
  font-size: 6vw;
  color: #6e756a;
  padding: 0;
}

h3{
  font-size: 5vw;
  color: #8f978c;
  text-decoration: underline;
}

.mirror{
  color: #9fa89d;
  line-height: 1.25;
  display: inline-block;
  transform: scale(1, -1);
}

.heading{
  position: absolute;
  display: block;
  padding-left: 3vw;
}

.content{
  margin-top: 100px;
}

#short{
  color: #b2a69c;
  font-size: 50px;
  font-weight: bold;
}

#medium{
  color: #6e756a;
  font-size: 38px;
  font-style: italic;
}

#long{
  color: #6b5b48;
  font-size: 22px;
  font-weight: bold;
}

.childhood, .teen, .facts{
  text-align: right;
}

hr {
  display: none;
}

.footer{
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  bottom: 2px;
  height: 13vh;
  width: 100%;
  background-color: #c7c7bb;
}

#main{
  position: fixed;
}

.socials{
  position: relative;
  bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5px;
}

.fab {
  padding: 15px;
  font-size: 25px;
  width: 30px;
}

@media all and (max-width: 900px) {
  h1{
    font-size: 17vw;
    color: #3b4237;
    line-height: 0.1;
    text-align: center;
    vertical-align: center;
  }

  h2{
    line-height: 0.1;
    font-size: 9vw;
    color: #6e756a;
    padding: 0;
    text-align: center;
  }

  .heading{
    position: relative;
    padding: 0;
  }

  p{
    display: none;
  }

  .content{
    padding: 5px;
    display: block;
    position: relative;
  }

  .content .childhood, .teen, .facts{
    padding-left: 15px;
    padding-right: 15px;
  }

  .childhood h3{

  }

  #short{
    color: #b2a69c;
    font-size: 5.5vw;
    font-weight: bold;
  }

  #medium{
    color: #6e756a;
    font-size: 4vw;
    font-style: italic;
  }

  #long{
    color: #6b5b48;
    font-size: 2.5vw;
    font-weight: bold;
  }

  .teen{
    text-align: right;
  }

  hr {
    margin-top: 20px;
    border-top: 4px solid #c7c7bb;
    border-radius: 5px;
  }
}

.gallery{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.gallery img{
  margin-top: 20px;
}
